.customBtn {
  position: absolute;
  right: 0;
  bottom: 0;
  background-image: linear-gradient(
    to bottom,
    rgba(245, 197, 40, 0.973),
    rgb(236, 120, 11),
    rgba(240, 40, 56, 0.904)
  );
  color: white;
}
.customBtn:hover {
  cursor: pointer;
  background-image: linear-gradient(
    to bottom,
    rgba(240, 40, 56, 0.904),
    rgb(236, 120, 11),
    rgba(245, 197, 40, 0.973)
  );
}
